---
// Halaman admin Decap CMS
// Akses: http://localhost:4321/admin/
---
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin | SMK Bina Mandiri Kutabumi</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <script src="https://unpkg.com/decap-cms@^3/dist/decap-cms.js"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.init();
      window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
      });
      window.netlifyIdentity.on("logout", () => {
        document.location.href = "/";
      });
    }
  </script>
</body>
</html>
